#appFrame
{
	background-color: white;
    border-radius: 3rem;
    border-top: 2px solid grey; 
    overflow: visible; 
    position: relative; 
    height: fit-content; 
    top: 0px; 
    left: 0px; 
}
#appFrame.fullscreen
{
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#details-list
{
	padding: 0rem !important;
}
#details-list
{
	height: fit-content;
	list-style: none;
	padding-left: 0px;
}
#drawingCanvas
{
	border: 2px solid black;
	height: 100%;
	margin: 0px;
	min-height: 100%;
	min-width: 100%;
	padding: 0px, 0px, 0px, 0px;
	width: 100%;
}
#drawingCanvasDiv
{
	margin-left: 0rem;
	padding-left: 0rem;
    position: relative; 
}
#finishButton
{
	height: 3rem;
	margin-top: 0.5rem;
	width: 100%;
    position: absolute; 
    top: 1.6rem; 
}
#pagetitle
{
	color: black;
	font-size: 4rem;
}
#showLineX,
#showLineY
{
	padding: 0.3rem;
}
*
{
	box-sizing: border-box;
}
.arrow
{
	border-right: 2px solid #000;
	border-top: 2px solid #000;
	display: inline-block;
	height: 15px;
	width: 15px;
}
.arrow-top
{
	transform: rotate(-45deg);
}
.btn-group
{
	min-width: 100%;
}
.btn-group
{
	height: 100%;
	width: 100%;
}
.buttonGroup
{
	margin: auto;
}
.buttonGroup > div
{
	padding: 0.3rem;
}
.canvasRow
{
	border-bottom: 0.6rem solid black;
	height: 100%;
    position: relative;
	padding-bottom: 1.3rem;
    max-height: inherit; 
}
.col,
.col-4,
.col-8,
.col-2
{
}
.container-fluid
{
	padding-left: 0% !important;
	padding-right: 0% !important;
}
.detailRow
{
	border: 2px solid black;
	margin-right: 0rem;
	overflow-y: scroll;
	padding-left: 0rem;
	padding-right: 0rem !important;
    max-height: inherit;
    position: relative;
}
.detailRow > h3, .detailRow > div
{
	min-width: inherit;
}
.details-header
{
	background-color: lightblue;
	font-size: 1.3rem;
	margin: 0rem;
	min-width: 100%;
	padding: 0rem !important;
}
.details-item-label
{
	max-width: fit-content;
	min-width: 134px;
}
.details-item-label-top
{
	background-image: linear-gradient(to right, aqua, white);
	margin-bottom: 0.3rem !important;
    margin-top: 0.5rem; 
	min-width: 100%;
	padding-left: 0rem !important;
    padding-top: 0.2rem 
}
.detailsListItem
{
	background-color: grey;
	margin: 0.1rem;
	margin-bottom: 0.2rem;
	max-height: inherit;
	padding: 0.1rem;
}
.details-list-item > label:not(.details-item-label-top) , input
{
    margin-bottom: 0.5rem; 
    margin-top: 0.3rem; 
}
.display-group
{
	display: flex;
	justify-content: center;
	margin: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}

.display-group, .wood-div {
    padding-left: 2px; 
    padding-right: 10px; 
    margin: auto; 
}
.display-group > label
{
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-top: 5px;
}
.dropdown-list
{
	color: black;
	font-size: 1.5rem;
}
.finishButton
{
	float: right;
	margin: 2rem;
	padding-left: 70%;
	padding-right: 0px;
}
.label-header
{
	align-self: right !important;
	justify-content: center;
	padding-top: 0.2rem;
}
.left-appframe-corner
{
	margin-left: 12px;
	margin-top: 12px;
}
.overflow-wrapper {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
    padding-left: 8px; 
}

.overflow-wrapper > p, .overflow-wrapper > div {
    position: absolute; 
    top: 1.6rem; 
}

.navbar
{
	min-width: 100%;
}
.navbar
{
	margin-bottom: 2rem;
}
.navbar
{
	font-size: large !important;
}
.navbar-brand
{
	font-size: x-large !important;
}
.navbar-title
{
	font-size: 1.1rem;
	margin-right: 1rem;
}
.nav-item
{
	margin-right: 20px;
}
.page-header
{
	margin: 1.2rem;
	padding: 1.2rem, 1.2rem, 1.1rem, 1.2rem;
	text-align: center;
}
.row
{
}
.row
{
	margin-bottom: 1rem;
}
.wood-column
{
	justify-content: center;
	margin: auto;
	padding: 0.3rem;
}
.wood-div
{
	margin-bottom: auto !important;
	padding-bottom: 10px;
	padding-top: 10px;
}
body
{
	max-height: 150vh !important;
	max-width: 200vh !important;
}
footer
{
	background-color: grey;
	border-top: 0.1rem solid black;
	margin: auto;
	min-height: 100%;
	min-width: 100%;
	padding: 0.34rem;
}
html
{
	font-family: 'Courier New', Courier, monospace !important;
	font-size: 62.5%;
}